node_modules/
*.rest
*.log

.env
.env.*

.nx-cloud.env

.gitignore

eslint.*
prettier.config.*
syncpack.config.*

CHANGELOG.md
CONTRIBUTING.md
LICENSE
LICENSE.md
README.md
*README*.md
*NOTES*.md
*DOCS*.md

docker-compose.yml
