engine-strict=true
strict-peer-dependencies=true
auto-install-peers=true

# uncomment if experiencing issue w/ @types packages: https://github.com/pnpm/pnpm/issues/1727
# public-hoist-pattern[]=*types*

# expose astro dependencies for \`pnpm\` users (if using astro)
# shamefully-hoist=true
