engine-strict=true

# require pnpm to use the same node version as the project (if rigour is required also hardcode in release.yml)
use-node-version=20.14.0

# only resolve local deps to local files with symlinks when workspace: protocol is used (for predictability)
link-workspace-packages=false

# use workspace: protocol but do not use specific versions (rolling)
save-workspace-protocol=rolling

# strictly require peer dependencies in correct version ranges to be installed (if not already installed)
# unfortunately many upstream packages do not have correct peer dependencies (maintainers forget to update version ranges)
# strict-peer-dependencies=true

# auto-install peer dependencies when installing a package (if they are not already installed)
# auto-install-peers=true

# uncomment if experiencing issue w/ @types packages: https://github.com/pnpm/pnpm/issues/1727
# public-hoist-pattern[]=*types*

# expose astro dependencies for \`pnpm\` users (if using astro)
# shamefully-hoist=true

# ensure packages can only be published from the main branch
# publish-branch=main

# require pnpm to use exct versions when installing packages via `pnpm add` (safest) e.g. "1.1.1" vs. "^1.1.1"
# save-prefix=""

# @bitcurve:registry=https://registry.npmjs.org
# registry=https://registry.npmjs.org
# registry=http://localhost:4873
# registry=https://npm.pkg.github.com

# reference auth token from environment variable
# //registry.npmjs.org/:_authToken=${NPM_TOKEN}

# strict-peer-dependencies=false
# auto-install-peers=true

# the following may be required for using astro with pnpm in certain cases (uncomment below):
# shamefully-hoist=true

# if issues with tests instead of hoisting everything one can try to only hoist the test dependencies
# @see https://pnpm.io/npmrc#dependency-hoisting-settings (so far no issues)
# public-hoist-pattern[]=@vitest/expect # if using vitest
# public-hoist-pattern[]=@jest/expect # if using jest

# allow pnpm to run scripts (may be required for pagefind if using a postbuild script)
# ignore-scripts=false

# allow pnpm to run pre/post scripts (required for pagefind if using a postbuild script)
# @see https://pnpm.io/cli/run#enable-pre-post-scripts
# enable-pre-post-scripts=true

# engine-strict=true
# strict-peer-dependencies=true
# auto-install-peers=true
