# nx-cloud.env should be considered secret and not committed to git if it contains a read/write token

# https://nx.dev/nx-cloud/reference/env-vars

# the following token value takes precedence over tasksRunnerOptions.default.options.accessToken in .nx.json
# if you add a read/write token in nx-cloud.env ensure that it is gitignore
# if you allow nx generator to add a key to nx.json pull it out before committing it (or regenerate if you do)
NX_CLOUD_ACCESS_TOKEN=""

# encrypt artifacts
# NX_CLOUD_ENCRYPTION_KEY="XXXX"

# set for debugging new ci environments
# NX_VERBOSE_LOGGING=true

# disable timeout (nx cloud requests timeout after 10s by default)
# added in case there are hanging builds...
# NX_CLOUD_NO_TIMEOUTS=true
